{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <title>My Projects</title>
    </head>
    <body>
        <header>
            <nav>
                <ul>
                    {% if user.is_authenticated %}
                        <li>
                            <a style="text-decoration:none;" href="{% url 'show_my_tasks' %}">|| My tasks ||</a>
                        </li>
                        <li>
                            <a style="text-decoration:none;" href="{% url 'list_projects' %}">|| My projects ||</a>
                        </li>
                        <li>
                            <a style="text-decoration:none;" href="{% url 'logout' %}">|| Logout ||</a>
                        </li>
                    {% else %}
                        <li>
                            <a style="text-decoration:none;" href="{% url 'login' %}">|| Login ||</a>
                        </li>
                        <li>
                            <a style="text-decoration:none;" href="{% url 'signup' %}">|| Signup ||</a>
                        </li>
                    {% endif %}
                </ul>
            </nav>
        </header>
        <main>
            <div>
                <h1>My Projects</h1>
                <p>
                    <a href="{% url 'create_project' %}">Create a new project</a>
                </p>
                {% if projects %}
                    <table>
                        <tr>
                            <th>Name</th>
                            <th>Number of tasks</th>
                        </tr>
                        {% for project in projects %}
                            <tr>
                                <td>
                                    <a href="{% url 'show_project' project.id %}">{{ project.name }}</a>
                                </td>
                                <td>{{ project.tasks.all|length }}</td>
                            </tr>
                        {% endfor %}
                    </table>
                {% else %}
                    <p>You are not assigned to any projects</p>
                {% endif %}
            </div>
        </main>
    </body>
</html>
